<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

	<Identity Name="4700f78a-f417-4b92-b848-9fdadcea0866"
            Publisher="CN=JeffJill"
            Version="1.0.0.0" />

	<mp:PhoneIdentity PhoneProductId="4700f78a-f417-4b92-b848-9fdadcea0866" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>curve25519-test</DisplayName>
		<PublisherDisplayName>JeffJill</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.10069.0" MaxVersionTested="10.0.10069.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate" />
	</Resources>
	<Applications>
		<Application Id="vstest.executionengine.universal.App"
        Executable="vstest.executionengine.appcontainer.uap.exe"
        EntryPoint="Microsoft.VisualStudio.TestPlatform.TestExecutor.AppContainer.App">
			<uap:VisualElements
        DisplayName="curve25519-test"
        Square150x150Logo="Assets\Logo.png"
        Square44x44Logo="Assets\SmallLogo.png"
        Description="curve25519-test"
        BackgroundColor="#464646">
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
			</uap:VisualElements>
		</Application>
	</Applications>
	<Capabilities>
		<Capability Name="internetClientServer" />
	</Capabilities>
</Package>